# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# tanstack start
.output
.vinxi
dist
.netlify

# production
/build

# database
sqlite.db
sqlite.db-journal
drizzle/

# misc
.DS_Store
*.pem
.npmrc

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.local
.env.production

# typescript
*.tsbuildinfo

# TanStack Router
app/routeTree.gen.ts
