@tailwind base;
@tailwind components;
@tailwind utilities;



/* Tip Tap CSS */
.tiptap .is-editor-empty:first-child::before {
  color: currentColor;     
  opacity:0.3;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.tiptap .is-empty::before {
  color: currentColor;     
  opacity:0.3;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.prose h1:has(+ .strapline) {
  /* Your styles here */
  @apply !mb-4    
}
.prose h1 + .strapline {
  @apply !mt-0
}

[aria-label][role~=tooltip]::after {
  background:rgba(0,0,0,1) !important;  
  border-radius:8px !important;
  border:0 !important;
  box-shadow:0 2px 4px rgba(0,0,0,0.12) !important;
  white-space: nowrap;  
}
