@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color:#fff;
  --color-accent: hsl(206, 100%, 50%);
  --color-annotation: hsla(206, 100%, 50%, 0.2);  
}

[data-theme="dark"]:root {
  --theme-color:#000;
}

/* Type */
h1:not(.prose h1, .EmojiPickerReact h1, .home h1) {
  @apply text-2xl leading-9 tracking-tight
}

h2:not(.prose h2, .EmojiPickerReact h2, .home h2) {
  @apply text-xl leading-8 tracking-tight
}

h3:not(.prose h3, .EmojiPickerReact h3, .home h3) {
  @apply text-lg leading-7 tracking-tight
}

h4:not(.prose h4, .EmojiPickerReact h4, .home h4) {
  @apply text-base leading-6 font-medium tracking-tight
}

p:not(.prose p, .EmojiPickerReact p, .home p) {
  @apply text-base leading-6 tracking-tight
}

small:not(.prose small, .EmojiPickerReact small, .home small) {
  @apply text-sm leading-5
}

span:not(.prose span, .EmojiPickerReact span, .home span) {
  @apply text-xs leading-5
}


/* Tip Tap CSS */
.tiptap .is-editor-empty:first-child::before {
  color: currentColor;     
  opacity:0.3;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.tiptap .is-empty::before {
  color: currentColor;     
  opacity:0.3;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.prose h1:has(+ .strapline) {
  /* Your styles here */
  @apply !mb-4    
}
.prose h1 + .strapline {
  @apply !mt-0
}
.tiptap span[data-note-id] {
  background-color: var(--color-annotation);
  border-bottom:2px solid var(--color-accent);
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

[aria-label][role~=tooltip]::after {
  background:rgba(0,0,0,1) !important;  
  border-radius:8px !important;
  border:0 !important;
  box-shadow:0 2px 4px rgba(0,0,0,0.12) !important;
  white-space: nowrap;  
}


.hljs-comment,
.hljs-quote {
  color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #b9f18d;
}

.hljs-title,
.hljs-section {
  color: #faf594;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #70cff8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}